@import "partials/header";
@import "partials/menu";
@import "partials/variables";
@import "partials/footer";

@media (max-width: 780px) {
  #navbar .mobileMenu {
    display: block;
    background: green;
  }
  #navbar .mobileMenu ul {
    width: 100%;
    background: orange;
  }
  #navbar .deskMenu {
    display: none;
  }
}

#navbar .deskMenu {
  display: inline-block;
}
#navbar .deskMenu li {
  text-decoration: none;
}
