$raggingColor: #f06d06;
$darking: #333;
$superGold: #b38d04;
$supremePurple: #b19cdb;
$iamWhite: #ffffff;
$homePageh1Font: "Dancing Script", cursive;
$designFont: "Pacifico", cursive;
$contentWords: "Roboto", sans-serif;
$serifWords: "Roboto Slab", serif;